body {
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}


@font-face {
font-weight: normal;
font-style: normal;

font-family: "symbols-sedona";
src: url("../fonts/symbols-sedona.woff") format("woff"),
     url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
display: inline-block;
width: 1em;
margin-right: 0.2em;
margin-left: 0.2em;

font-weight: normal;
line-height: 1em;
font-family: "symbols-sedona";
text-align: center;
text-transform: none;
text-decoration: inherit;
font-style: normal;
font-variant: normal;

speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */



.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
}

.main-menu li {
  display: block;
  width: 240px;
  height: 56px;
  text-align: center;
  vertical-align: middle;
  float: left;
  margin: 0;
  padding: 0;
}

.main-menu h1 {
  margin: 0;
}

.main-menu a {
  text-decoration: none;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-top: 20px;
  line-height: 56px;
}

.main-menu a:hover {
 color: #81b3d2;
}

.main-menu a:active {
 color: #766357;
}

.main-menu .active {
  color: #766357;
}

.main-menu .active:hover {
  color: #604e43;
}

.main-menu .active:active {
  color: #d6d0cc;
}



.content-main {
  background-color: #ffffff;
}


.main-image {
  height: 511px;
  text-align: center;
  background-image: url("../img/background-sedona-index.jpg");
  background-repeat: no-repeat;
  background-color: #acd5ee;
}


.logo {
  padding-top: 215px;
}






.intro {
  padding-top: 57px;
  padding-bottom: 37px;
  width: 570px;
  margin: 0 auto;
  text-align: center;
  line-height: 26px;

}

.intro-text {
  font-size: 21px;
  color: #000000;
}

.intro p {
  margin-top: 22px;
}












.index-content {
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.index-content-text-left {
  float: left;
  width: 400px;
  padding-top: 55px;
}

.index-content-img-right {
  float: right;
  height: 256px;
  margin: 0;
  background-color: #e7a79a;
}

.index-content-number {
  margin-top: 18px;
  margin-bottom: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.index-content-title {
  font-size: 21px;
}








.features-first {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 81px;

}

.features-item {
  float: left;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.features-name {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  margin-top: 24px;
}

.features-item p {
  margin: 0;
  margin-top: 24px;
}

.picture-souvenirs {
  margin-bottom: -4px;
}











.index-content-img-left {
  float: left;
  height: 256px;
  margin: 0;
  background-color: #eac1ad;
}

.index-content-text-right {
  float: right;
  width: 400px;
  padding-top: 55px;
}






.features-second {
  padding-top: 23px;
  text-align: center;
  padding-bottom: 57px;
  background-color: #eeeeee;
}

.features-second p {

}



.intro-search {
  line-height: 24px;
  padding-bottom: 35px;
}

.intro-text-search {
  font-size: 30px;
  color: #000000;
  line-height: 24px;
}


.search {
  width: 570px;
  margin: 0 auto;
  text-align: center;
}

.search-hotels {
  text-decoration: none;
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  padding-top: 34px;
  padding-bottom: 26px;
  text-align: center;
}



.search-filters {
  background-color: #ffffff;
  padding-top: 56px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 55px;
  padding-left: 57px;
  padding-right: 54px;
}

.field-data {
  margin-bottom: 27px;
  color: #000000;
}

.field-value-data {
  margin-left: 114px;
  margin-right: 39px;
  position: relative;
}

.field-data label {
  float: left;
  line-height: 38px;
}
.field-data input {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  padding-left: 15px;
  box-sizing: border-box;
}

.field-data input:hover {
  background-color: #ebebeb;
}

.field-data input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.btn-calendar {
  float: right;
  margin-right: -38px;
  padding: 0;
  border: none;
  width: 38px;
  height: 40px;
  background-color: #f2f2f2;
  outline: none;
  color: #c2c2c2;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  vertical-align: top;
}

.btn-calendar:hover {
  color: #000000;
}

.btn-calendar:active {
  color: #81b3d2;
}

.btn-people-number {
  padding: 0;
  margin: 0;
  border: none;
  width: 38px;
  height: 40px;
  background-color: #f2f2f2;
  outline: none;
  color: #a9a9a9;
  vertical-align: middle;
}

.btn-people-number:hover {
  color: #000000;
}

.btn-people-number:active {
  color: #81b3d2;
}

.people-number input,
.children-number input {
  margin: 0;
  border: none;
  width: 38px;
  height: 40px;
  background-color: #f2f2f2;
  outline: none;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none; margin: 0px;
}

.field-people {
  margin-bottom: 54px;
}

.field-people > label {
  float: left;
  line-height: 38px;
}

.field-value-people {
  margin-left: 114px;
  text-align: left;
  height: 40px;

}

.btn-plus {
  margin-left: -4px;
}

.btn-minus {
  margin-right: -4px;
}

.people-number-adults{
  float: left;
}

.children-number {
  float: right;
}

.people-number-children {
  display: inline-block;
  margin-left: 25px;
}


.search-btn {
  width: 458px;
  padding: 0;
  border: none;
  outline: none;
  height: 58px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}




.main-footer {
  height: 95px;
  width: 100%;
  padding-top: 25px;
  background-color: rgba(255,255,255,0.9);
}

.main-index-footer {
  width: 1200px;
  position: absolute;
  z-index: 1000;
  margin-top: -120px;
}

.footer-item{
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-left: 50px;
  margin-right: 45px;
  vertical-align: middle;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0;
  background-color: #81b3d2;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.social-btn span {
  font-size: 19px;
  line-height: 48px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-hashtag p{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


.footer-copyright span {
  line-height: 39px;
}

.copyright-logo {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 39px;
  font-size: 0;
  background-image: url("../img/srpite-copyright-logo.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.copyright-logo:hover {
  background-image: url("../img/srpite-copyright-logo.png");
  background-repeat: no-repeat;
  background-position: -10px -69px;
}

.copyright-logo:active {
  background-image: url("../img/srpite-copyright-logo.png");
  background-repeat: no-repeat;
  background-position: -10px -128px;
}







.sprite {
  background-image: url("../img/srpite-copyright-logo.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-copyright-logo-1 {
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
}

.sprite-copyright-logo-2 {
  width: 113px;
  height: 39px;
  background-position: -10px -69px;
}

.sprite-copyright-logo-3 {
  width: 113px;
  height: 39px;
  background-position: -10px -128px;
}







.content-selection {
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 11px;
  padding-top: 26px;
  background-image: url("../img/hotels-filter-background.png") ;

}

content-selection li {
  list-style-type: none;
}

.conveniences {
  float: left;
  width: 230px;
  margin-right: 25px;
}

.housing-type {
  float: left;
  width: 230px;
}



.filters-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #ffffff;
}

.filter-range {
  float: right;
  width: 330px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
}

.filters-range-title {
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  font-size: 26px;
  font-family: "symbols-sedona";
}

input[type="checkbox"]:checked+label::before {
  content: "\2611";
}





.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 14px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}


.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 98px;
  padding-left: 65px;
}

.price-controls input {
  width: 60px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 36px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255,255,255,0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}


.list-filters {
  list-style: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  margin: 0;
}

.list-filters li {
  margin-bottom: 26px;
}

.list-filters input[disabled="disabled"]+label {
  color: #6a6a6a;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background-color: #ffffff;
}







.search-result {
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 31px;
  margin-top: 28px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.result-number {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
}

.result-filters-name {
  float:left;
  margin-left: 48px;
  margin-right: 38px;
  font-size: 12px;
  line-height: 18px;
  margin-top: 7px;
}

.filters-sorting-list li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 6px;
}

.filters-sorting {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted #81b3d2;
  color: #b2b2b2;
}

.filters-sorting:hover {
   color: #81b3d2;
}

.filters-sorting:active {
   color: #000000;
   border: none;
}

.filters-sorting-list .active {
  color: #81b3d2;
  border: none;
}

.filters-sorting-list {
  margin-top: 7px;
}

.pointers {
  float: right;
}

.pointer-arrow {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: 0px;
  vertical-align: top;
  text-align: center;
  color: #cccccc;

}

.pointer-arrow span {
  font-size: 23px;
  line-height: 23px;

}

.pointers .active {
  color: #81b3d2;
}

.pointer-arrow:hover {
  color: #000000;
}

.pointer-arrow:active {
  color: #81b3d2;
}






.housing-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  height: 90px;
  border-bottom: 1px solid #e5e5e5;
}

.housing-image {
  float: left;
  margin-right: 30px;
}

.more-info {
  float: left;
  width: 118px;
  margin-right: 0px;

}

.housing-price {
  float: left;
  width: 143px;

}

.rating {
  float: right;
  text-align: right;

}

.rating-stars {
  display: inline-block;
  height: 25px;
  background-color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  color: #81b3d2;
  text-align: center;
  margin: 0;
}

.rating-stars span {
  font-size: 19px;
  line-height: 21px;
  float: right;

}

.housing-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 7px;
  color: #000000;
  cursor: pointer;
}

.housing-name:hover {
  color: #81b3d2;
}

.housing-name:active {
  color: #b2b2b2;
}

.btn-detail {
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  float: left;
  height: 26px;
  font-weight: bold;
  line-height: 26px;
}

.btn-detail:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.btn-detail:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.btn-book {
  text-decoration: none;
  background-color: #766357;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 15px;
  float: left;
  height: 26px;
  font-weight: bold;
  line-height: 26px;
}

.btn-book:hover {
  background-color: #604e43;
  color: #ffffff;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}



.main-housing-info  {
  margin-bottom: 15px;
}

.grade {
  background-color: #f2f2f2;
  color: #666666;
  height: 26px;
  line-height: 26px;;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 39px;
}
